<% error = experience.errors.include?(:company) %>
<fieldset class='control-group <%= 'error' if error %>'>
  <%= f.label :company, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :company %>
    <span class='help-inline'><%= f.error_message_on(:company) if error %></span>
  </div>
</fieldset>
<% error = experience.errors.include?(:industry) %>
<fieldset class='control-group <%= 'error' if error %>'>
  <%= f.label :industry, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :industry %>
    <span class='help-inline'><%= f.error_message_on(:industry) if error %></span>
  </div>
</fieldset>
<% error = experience.errors.include?(:department) %>
<fieldset class='control-group <%= 'error' if error %>'>
  <%= f.label :department, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :department %>
    <span class='help-inline'><%= f.error_message_on(:department) if error %></span>
  </div>
</fieldset>
<% error = experience.errors.include?(:title) %>
<fieldset class='control-group <%= 'error' if error %>'>
  <%= f.label :title, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :title %>
    <span class='help-inline'><%= f.error_message_on(:title) if error %></span>
  </div>
</fieldset>
<% error = experience.errors.include?(:begin_on) || experience.errors.include?(:end_on) %>
<fieldset class='control-group <%= 'error' if error %>'>
  <%= f.label :begin_on_year, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :begin_on_year, :class => 'input-mini' %> 年
    <%= f.month_select :begin_on_month %> 月 ～
    <%= f.text_field :end_on_year, :class => 'input-mini' %> 年
    <%= f.month_select :end_on_month %> 月
    <span class='help-inline'><%= f.error_message_on(:begin_on) if error %><%= f.error_message_on(:end_on) if error %></span>
  </div>
</fieldset>
<% error = experience.errors.include?(:summary) %>
<fieldset class='control-group <%= 'error' if error %>'>
  <%= f.label :summary, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :summary, :class => 'span5' %>
    <span class='help-inline'><%= f.error_message_on(:summary) if error %></span>
  </div>
</fieldset>

<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  &nbsp;
  <%= link_to pat(:cancel), 'javascript:void(0)', :class => 'btn' %>
</div>
