<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:users, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:users, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:th, pat(:show)), url(:users, :show, :id => @user.id) %></li>
  <li> <%= link_to tag_icon(:edit, pat(:edit)), url(:users, :edit, :id => @user.id) %></li>
</ul>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= mat(:user, :name) %></th>
      <td><%= @user.name %></td>
      <th><%= mat(:user, :gender) %></th>
      <td><%= locale_abbr(@user, :gender, :gender_name) %></td>
      <th><%= mat(:user, :birth_on) %></th>
      <td><%= short_date @user.birth_on %></td>
      <th><%= mat(:user, :work_on) %></th>
      <td><%= short_date @user.work_on %></td>
      <th><%= mat(:user, :degree) %></th>
      <td><%= locale_abbr(@user, :degree) %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= mat(:user, :email) %></th>
      <td><%= @user.email %></td>
      <th><%= mat(:user, :phone) %></th>
      <td><%= @user.phone %></td>
      <th><%= mat(:user, :qq) %></th>
      <td><%= @user.qq %></td>
      <th><%= mat(:user, :msn) %></th>
      <td colspan="3"><%= @user.msn %></td>
    </tr>
    <tr>
      <th><%= mat(:user, :city) %></th>
      <td><%= @user.city %></td>
      <th><%= mat(:user, :address) %></th>
      <td><%= @user.address %></td>
      <th><%= mat(:user, :hukou) %></th>
      <td><%= @user.hukou %></td>
      <th><%= mat(:user, :family_tel) %></th>
      <td colspan="3"><%= @user.family_tel %></td>
    </tr>
    <tr>
      <th><%= mat(:user, :company) %></th>
      <td><%= @user.company %></td>
      <th><%= mat(:user, :title) %></th>
      <td><%= @user.title %></td>
      <th><%= mat(:user, :industry) %></th>
      <td><%= @user.industry %></td>
      <th><%= mat(:user, :website) %></th>
      <td colspan="3"><%= @user.website %></td>
    </tr>
    <tr>
      <th><%= mat(:user, :self_intro) %></th>
      <td colspan="5"><%= @user.self_intro %></td>
      <th><%= mat(:user, :source) %></th>
      <td colspan="3"><%= @user.source %></td>
    </tr>
    <tr>
      <th><%= mat(:user, :contact_records) %></th>
      <td colspan="9"><%= @user.contact_records %></td>
    </tr>
    <tr>
      <th><%= mat(:user, :created_at) %></th>
      <td colspan="3"><%=l @user.created_at %></td>
      <th><%= mat(:user, :updated_at) %></th>
      <td colspan="5"><%=l @user.updated_at %></td>
    </tr>
  </tbody>
</table>
<% create = request.path.include?('/experiences/create') %>
<div class="tabbable">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">工作经历</a>
      <ul class="nav">
        <li class="<%= 'active' unless create %>"><a href="#exp_tab1" data-toggle="tab"><i class="icon-list"></i> 列表</a></li>
        <li class="<%= 'active' if create %>"><a href="#exp_tab2" data-toggle="tab"><i class="icon-plus"></i> 添加</a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane <%= 'active' unless create %>" id="exp_tab1">
      <%= partial 'experiences/experience', collection: @user.experiences.recent %>
    </div>
    <div class="tab-pane <%= 'active' if create %>" id="exp_tab2">
      <% experience = (@experience && @experience.new_record?) ? @experience : @user.experiences.new %>
      <% form_for experience, url(:experiences, :create, :user_id => @user.id), :class => 'form-horizontal' do |f| %>
        <%= partial 'experiences/form', :locals => { :f => f, :experience => experience } %>
      <% end %>
    </div>
  </div>
</div>

<% create = request.path.include?('/project/create') %>
<div class="tabbable">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">项目经历</a>
      <ul class="nav">
        <li class="<%= 'active' unless create %>"><a href="#project_tab1" data-toggle="tab"><i class="icon-list"></i> 列表</a></li>
        <li class="<%= 'active' if create %>"><a href="#project_tab2" data-toggle="tab"><i class="icon-plus"></i> 添加</a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane <%= 'active' unless create %>" id="project_tab1">
      <%= partial 'projects/project', collection: @user.projects.recent %>
    </div>
    <div class="tab-pane <%= 'active' if create %>" id="project_tab2">
      <% project = (@project && @project.new_record?) ? @project : @user.projects.new %>
      <% form_for project, url(:projects, :create, :user_id => @user.id), :class => 'form-horizontal' do |f| %>
        <%= partial 'projects/form', :locals => { :f => f, :project => project } %>
      <% end %>
    </div>
  </div>
</div>
